<% provide(:title, "勤怠承認申請") %>
<% provide(:class_text, "one-month-approval") %>
<% provide(:btn_text, "one-month-approval") %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <h1 class="modal-title">１ヶ月分の勤怠承認</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="md-col-10 md-col-offset-1">
          <%= form_with(model: @users, url: attendances_update_one_month_approval_user_path(@user.id), method: :patch, local: true) do |f| %>
            <% @users.each do |user| %>
              <h1>【<%= user.name %> からの１ヶ月分勤怠申請】</h1>
              <table class="table table-bordered table-condensed table-hover", id="table-one-month-attendance">
                <thead>
                  <tr>
                    <th>月</th>
                    <th>指示者確認 &#12958;</th>
                    <th>変更</th>
                    <th>勤怠を確認する</th>
                  </tr>
                </thead>
                <tbody>
                  <% user.attendances.each do |day| %>
                    <%= f.fields_for "attendances[]", day do |attendance| %>
                      <tr>
                        <td><%= day.worked_on.month %>月</td>
                        <td><%= attendance.select :confirm_superior_one_month_request,  [["申請中"], ["承認"], ["否認"], ["なし"] ] %></td>
                        <td><%= attendance.check_box :one_month_approval_check, {}, checked_value = "true",unchecked_value = "false" %></td>
                        <td><%= link_to "確認", user_path(user, date: day.worked_on.beginning_of_month), target: :_blank, rel: "noopener noreferrer", class: "btn btn-primary btn-sm" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <tbody>
              </table>
            <% end %>
            <div class="center">
              <%= f.submit "変更を送信する", class: "btn btn-primary btn-lg btn-#{yield(:btn_text)}" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>